/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Oswald:wght@600&family=Passion+One:wght@700&display=swap&family=Russo+One');

:root {
    --Abril: "Abril+Fatface", cursive;
    --Bangers: "Bangers", cursive;
    --Oswald: "Oswald:wght@600", sans-serif;
    --Passion_One: "Passion+One:wght@700", cursive;
    --Russo_One: "Russo+One";
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background: url(images/header-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main */
main {
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

h1 {
    font-family: var(--Russo_One);
}

h2 {
    font-family: var(--Oswald);
}

#about-me {
    font-family: var(--Oswald);
    font-size: large;
}

#element-container {
    background-color: rgba(0, 0, 0, 0.70);
}